.mycard {
    width: 100%
}

.user {
    width: 180px;
    height: 200px;
    background-image: url(../../../src/123.png);
    background-size: 105%;
    background-repeat: no-repeat;


}
.image-container {
    display: flex ;
    justify-content: center ;
    margin: 10px;
}
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mb-3 {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.form-control {
    margin-left: 10px;
    width: 70%;
}