<div class="row justify-content-md-center"  style="height: 100%;">

        <!-- <marquee [scrollAmount]="20">
            <h1 class="text-center mt-5"> Welcome, <span *ngIf="this.user" style="color: red"> {{this.user.name}}
                </span> ! </h1>
        </marquee> -->
    <div class="subcontainer">
        <div class="left">
            <button class="mybutton" (click)="productAction()">Product</button>
            <button class="mybutton" (click)="categoryAction()">Category</button>
            <button class="mybutton" (click)="userAction()">User</button>
        </div>
        <div class='right'>


    </div>

</div>