* {
    box-sizing: border-box;
}

.servicelist {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    padding: 30px;
    color: blue;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  */
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 300px;
    height: 50px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}
.buttons:hover {
    transition: 0.2s ;
    background-color: black;
    color: white;
}

