
  <div class="card card-container">
    <div class="card-header row">
      <div class="col-8">
        <h3>Create New User</h3>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <button class="btn btn-info" (click)="goBack()">
          <i class="fas fa-arrow-left"></i>
          Go Back
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
  
        <div class="col-md-8">
          <form>

         
              <div class="form-group">
              <label> Role </label>
              <input type="text" class="form-control" id="role"  name="role" [(ngModel)]="role" />
            </div>

            <button class="btn btn-success mt-3" type="submit" (click)="sendAction()">Send</button>

          </form>
        </div>
      </div>
    </div>
  </div>
